<!--footer section start-->		
<footer>
    <div class="footer-top">
        <div class="container">
            <div class="foo-grids">
                <div class="col-md-3 footer-grid">
                    <h4 class="footer-head">Về Unimark</h4>
                    <p>Tiện lợi nhanh chóng phát triển thịnh vượng là kim chỉ nam cho mọi hoạt động của Unimark.</p>
                    <p>Unimark 1 sản phẩm của Unitech.</p>
                </div>
                <div class="col-md-3 footer-grid">
                    <h4 class="footer-head">Hỗ trợ khách hàng</h4>
                    <ul>
                        <li><a href="howitworks.html">Trung tâm trợ giúp</a></li>						
                        <li><a href="sitemap.html">An toàn mua bán</a></li>
                        <li><a href="faq.html">Quy định cần biết</a></li>
                        <li><a href="feedback.html">Feedback</a></li>
                        <li><a href="contact.html">Liên hệ hỗ trợ</a></li>
                        <li><a href="typography.html">Quyền riếng tư</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-grid">
                    <h4 class="footer-head">Về Unimark</h4>
                    <ul>
                        <li><a href="regions.html">Giới thiệu</a></li>	
                        <li><a href="terms.html">Tuyển dụng</a></li>
                        <li><a href="popular-search.html">Truyền thông</a></li>	
                        <li><a href="privacy.html">Blog</a></li>	
                    </ul>
                </div>
                <div class="col-md-3 footer-grid">
                    <h4 class="footer-head">Liên hệ</h4>
                    <span class="hq">Trụ sở chính</span>
                    <address>
                        <ul class="location">
                            <li><span class="glyphicon glyphicon-map-marker"></span></li>
                            <li>Tổ 5 Phường Tân Thịnh thành phố Thái Nguyên</li>
                            <div class="clearfix"></div>
                        </ul>	
                        <ul class="location">
                            <li><span class="glyphicon glyphicon-earphone"></span></li>
                            <li>0964969849</li>
                            <div class="clearfix"></div>
                        </ul>	
                        <ul class="location">
                            <li><span class="glyphicon glyphicon-envelope"></span></li>
                            <li><a href="mailto:info@example.com">anhken2000nd@gmail.com</a></li>
                            <div class="clearfix"></div>
                        </ul>						
                    </address>
                </div>
                <div class="clearfix"></div>
            </div>						
        </div>	
    </div>	
    <div class="footer-bottom text-center">
    <div class="container">
        <div class="footer-logo">
            <a href="/"><span>Uni</span>mark</a>
        </div>
        <div class="footer-social-icons">
            <ul>
                <li><a class="facebook" href="#"><span>Facebook</span></a></li>
                <li><a class="twitter" href="#"><span>Twitter</span></a></li>
                <li><a class="flickr" href="#"><span>Flickr</span></a></li>
                <li><a class="googleplus" href="#"><span>Google+</span></a></li>
                <li><a class="dribbble" href="#"><span>Dribbble</span></a></li>
            </ul>
        </div>
        <div class="copyrights">
            <p> Unimark chợ của mọi người.</p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
</footer>
<!--footer section end-->