<div class="header">
    <div class="container">
        <div class="logo">
            <a href="/"><span>Uni</span>mark</a>
        </div>
        <div class="header-right">
        <a class="account" href="/my-account" style="margin-right: 15px;">Tài khoản của tôi</a>
        <a class="account" href="/logout">Đăng xuất</a>
    </div>
    </div>
</div>
<div class="main-banner banner text-center">
  <div class="container">    
        <h1>Bán thứ bạn có?<span class="segment-heading">    Mua thứ bạn cần?</span> đã có Unimark</h1>
        <p>Nơi trao đổi mua bán của tất cả mọi người nhanh tróng và tiện lợi. </p>
        <a href="/post-product">Đăng bài</a>
  </div>
</div>