<!DOCTYPE html>
<html>
<head>
<title>Unimark</title>
<link rel="shortcut icon" href="./custom/images/logo.png">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/bootstrap-select.css">
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- alertify css -->
<link rel="stylesheet" href="./custom/css/alertify.min.css">
<link rel="stylesheet" href="./custom/css/default.min.css">
<!-- font are we some -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Resale Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<!--fonts-->
<link href='//fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!--//fonts-->	
<!-- js -->
<script type="text/javascript" src="js/jquery.min.js"></script>
<!-- js -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/bootstrap.min.js"></script>
<script src="js/bootstrap-select.js"></script>
<script>
  $(document).ready(function () {
    var mySelect = $('#first-disabled2');

    $('#special').on('click', function () {
      mySelect.find('option:selected').prop('disabled', true);
      mySelect.selectpicker('refresh');
    });

    $('#special2').on('click', function () {
      mySelect.find('option:disabled').prop('disabled', false);
      mySelect.selectpicker('refresh');
    });

    $('#basic2').selectpicker({
      liveSearch: true,
      maxOptions: 1
    });
  });
</script>
<script type="text/javascript" src="js/jquery.leanModal.min.js"></script>
<link href="css/jquery.uls.css" rel="stylesheet"/>
<link href="css/jquery.uls.grid.css" rel="stylesheet"/>
<link href="css/jquery.uls.lcd.css" rel="stylesheet"/>
<!-- Source -->
<script src="js/jquery.uls.data.js"></script>
<script src="js/jquery.uls.data.utils.js"></script>
<script src="js/jquery.uls.lcd.js"></script>
<script src="js/jquery.uls.languagefilter.js"></script>
<script src="js/jquery.uls.regionfilter.js"></script>
<script src="js/jquery.uls.core.js"></script>
<script>
			$( document ).ready( function() {
				$( '.uls-trigger' ).uls( {
					onSelect : function( language ) {
						var languageName = $.uls.data.getAutonym( language );
						$( '.uls-trigger' ).text( languageName );
					},
					quickList: ['en', 'hi', 'he', 'ml', 'ta', 'fr'] //FIXME
				} );
			} );
		</script>
		<link rel="stylesheet" type="text/css" href="css/easy-responsive-tabs.css " />
    <script src="js/easyResponsiveTabs.js"></script>
</head>
<body>
	<style>
		.preview-image-product{
		  width: 100%;
		  height: 200px;
		  overflow-x: scroll;
		  margin-top: 25px;
		}
		.preview-image-product .wrap-content{
			width: auto;
			display: -webkit-box;
			height: 100%;
		}
		.preview-image-product .wrap-content .wrap-image{
			height: 100%;
			background-color: blue;
			margin-right: 10px;
			position: relative;
		}
		.preview-image-product .wrap-content .wrap-image img{
			height: 100% !important;
		}
		.preview-image-product .wrap-content .wrap-image .btn-remove-img{
			position: absolute;
			top: 5px;
			right: 5px;
			width: 20px;
			height: 20px;
			text-align: center;
			line-height: 18px;
			border-radius: 50%;
			background-color: white;
			cursor: pointer;
		}
	  </style>
<div class="header">
	<%- include("./header") %>
	
	<!-- Submit Ad -->
	<div class="submit-ad main-grid-border">
		<div class="container">
			<h2 class="head">Đăng bán</h2>
			<div class="post-ad-form">
				<form>
					<label>Chọn loại sản phẩm <span>*</span></label>
					<select class="" id="input-select-type-product">
					  <option>Chọn loại sản phẩm</option>
					  <option data-type="phone">Điện thoại</option>
					  <option data-type="electronic">Đồ điện tử</option>
					  <option data-type="car">Ô tô</option>
					  <option data-type="bike">Xe cộ</option>
					  <option data-type="furniture">Nội thất</option>
					  <option data-type="pet">Vật nuôi</option>
					  <option data-type="book">Sách, văn phòng phẩm</option>
					  <option data-type="fashion">Thời trang</option>
					  <option data-type="kid">Trẻ em</option>
					  <option data-type="services">Dịch vụ</option>
					  <option data-type="job">Việc làm</option>
					  <option data-type="real_estate">Bất động sản</option>
					</select>
					<div class="clearfix"></div>
					<label>Tên sản phẩm <span>*</span></label>
					<input id="input-name-product" type="text" class="phone" placeholder="">
					<div class="clearfix"></div>
					<div class="clearfix"></div>
					<label>Giá sản phẩm <span>*</span></label>
					<input id="input-price-product" type="text" class="phone" placeholder="">
					<div class="clearfix"></div>
					<label>Mô tả sản phẩm <span>*</span></label>
					<textarea id="input-description-product" class="mess" placeholder="Hãy mô tả để người mua biết giõ hơn về sản phẩm của bạn"></textarea>
					<div class="clearfix"></div>
				<div class="upload-ad-photos">
				<label>Chọn ảnh :</label>	
					<div class="photos-upload-view">
						<form id="upload" action="index.html" method="POST" enctype="multipart/form-data">

							<input type="hidden" id="MAX_FILE_SIZE" name="MAX_FILE_SIZE" value="300000" />

							<div>
								<input type="file" id="fileselect" accept="image/*" name="fileselect[]" multiple="multiple" />
								
							</div>
						</form>

						<div class="preview-image-product">
							<div class="wrap-content">
								<!-- <div class="wrap-image">
									<img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_1280.jpg" alt="">
									<div class="btn-remove-img"><i class="fa fa-times" aria-hidden="true"></i></div>
								</div> -->
							</div>
						  </div>
						</div>
					<div class="clearfix"></div>
						
				</div>
					<div class="personal-details">
						<form>
							<p class="post-terms">Khi click vào <strong>ĐĂNG</strong> đồng nghĩa với việc bạn chấp nhận <a href="terms.html" target="_blank">Điều khoản sử dụng </a> và <a href="privacy.html" target="_blank">Chính sách bảo mật.</a></p>
							<input id="btn-post-product" type="submit" value="Post">					
							<div class="clearfix"></div>
						</form>
					</div>
				</div>
		</div>	
	</div>
	<!-- // Submit Ad -->
	
	<!--footer section start-->		
	<%- include("./footer") %>
	<!--footer section end-->

	<!-- alertify js -->
	<script src="./custom/js/alertify.min.js"></script>
	<!-- custom js -->
	<script src="./custom/js/products/post_product.js"></script>
</body>
</html>